
.container_asistenteView {
    width: 70%;
    min-width:600px;
    padding: 1%;
}
.bodyAsistente_asistenteView {
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 25px;
    margin: 1%;
    width: 98%;
    font-weight: lighter;
    padding-top: 5%;
    font-size: 20px;

}
.mainTittle_asistenteView {
    display: flex;
    justify-content: space-between;
}
.mainTittle_asistenteView h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 125px;
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.select label {
    padding: 1%;
    font-weight: lighter;
}
.bodyAsistente_asistenteView input {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    padding-left: 3%;

}
.bodyAsistente_asistenteView button {
    border-radius: 20px;
    height: 30px;
    width: 30%;
    background-color: #A8D6FF;
    color:black;
    border-color: #A8D6FF;
    border-style: none;
    margin: 1%;
    align-self: flex-end;    

}

.campo {
    padding: 1%;
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 97%;
    padding-left: 3%;
    padding-top: 5px;
    margin: 2%;
}
label {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    padding-left: 3%;

}
.textarea {
    padding: 1%;
    background-color: white;
    border-radius: 50px;
    height: 100%;
    width: 96%;
    padding: 3%;
    margin: 3%;  
}
.invitados {
    display: flex;
    flex-direction: row;
}
.invitados .campo {
    padding-left: 3%;
}
.buttonSection {
    display: flex;
    justify-content: space-around;

}
.submitCerrar {
    
    border-radius: 20px;
    height: 30px;
    width: 40%;
    background-color: lightcoral;
    color:black;
    border-color: #A8D6FF;
    border-style: none;
    margin: 1%;
    align-self: flex-end; 
}
.submitEditar {
    
    border-radius: 20px;
    height: 30px;
    width: 40%;
    background-color: #A8D6FF;
    color:black;
    border-color: #A8D6FF;
    border-style: none;
    margin: 1%;
    align-self: flex-end; 
}
.buttonsAsistentes {
    display: flex;
    justify-content: space-around;
}

