
.container_AsistenteEdit {
    width: 50%;
    min-width: 600px;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.bodyAsistenteEdit {
    background-color: #d4d1d1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    border-radius: 25px;
    margin: 1%;
    width: 100%;
    font-weight: lighter;
    justify-content: space-around;
    font-size: 20px;
    
}
.tittle_AsistenteEdit {
    display: flex;
    justify-content: space-between;
    
}
.tittle_AsistenteEdit h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 125px;
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.bodyAsistenteEdit label {
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-weight: lighter;
    width: 20%;
    margin: 7px;
    justify-content: center;

}
.bodyAsistenteEdit input {
    width: 70%;
    margin: 7px;
    border-style: none;

}

button {
    border-radius: 20px;
    height: 30px;
    width: 30%;
    align-content: flex-end;
    background-color: #A8D6FF;
    color:black;
    border-color: #A8D6FF;
    border-style: none;
    margin: 1%;
    align-self: flex-end;    
    font-size: 20px;
}

