
.mainContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    
}.mainContainer h1 {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 125px;
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.title {
    display: flex;
    align-items: center;
    width: 100%;
}

.card{
    display: flex;
    justify-content: space-around;
    background: #d4d1d1;
    max-width: 100%;
    padding: auto;
    border-radius: 35px;
    margin: 12px;
    padding: 8px;
    width: 100%;
    min-width: 450px;
    align-items: center;
    flex-wrap: noWwrap;
    font-size: 24px;
}
.card div {
    min-width: 30%;
}
.card .nameContainer {
    max-width: 30%;
    align-self: center;
}

.dateContainer p {
    font-weight: bold;
}
.editButton {
    height: 30px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.addButton {
    display: flex;
    background: #A8D6FF;
    max-width: 100%;
    border-radius: 35px;
    margin: 12px;
    padding: 8px;
    width: 100%;
    min-width: 450px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.addIcon {
    height: 30px;
    align-self: center;
    margin-right: 10px;

}
