
img {
    width: 150px;
    height: 100px;
}
.buttonSection {
	width: 100%;
}
button .printButton{
    border-radius: 20px;
    height: 30px;
    width: 30%;
    align-content: flex-end;
    background-color: #A8D6FF;
    color: black;
    border-color: #A8D6FF;
    border-style: none;
    margin: 1%;
    align-self: flex-end;
    font-size: 20px;
}

.segundoTitulo {
	text-align: center;
	}
	
section table {
    display: column;
    width: 98%;
    margin: 1%;
}

tr {
    text-align: justify;
    padding: 5px;

}
td {
    padding: 5px;
}
th {
    padding: 5px;

}
.footerSection {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin-top: 2%;
	margin-bottom: 1%;

}
section {
	margin: 2%;
}