img {
    width: 150px;
    height: 100px;
}

.primerTitulo {
    display: column;
    text-align: center;
    background-color: rgba(228,103,19,1);
    color: white;
}
.segundoTitulo {
text-align: center;
}
.searchBoxHistorial {
    display: flex;
    width: 100%;
}
.historialBusqueda {
    width: 40%;
    margin: 3%;
}
.buttonHistorialSection{
    display: flex;
    flex-direction: row-reverse;
    
}
.buttonSearchDate button {
    margin-left: 5%;
    width: 50%;
    
}

.buttonDeleteFilter {
    background: rgb(199, 20, 20);
    width: 9%;
}