* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', 'serif';

}
html {
    min-height: 100%;
    position: relative;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.body{
    display: flex;
    align-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.mainBoard {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}
.mainTitle {
    height: 135px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.mainTitle h1 {
    align-self: left;

}
@media (max-width:770px){
    body {
        font-size: 16px;
    }
    .buttonContainer {
        width: 30%;
    }
    .addButton {
        min-width: auto;
    }
    .Menu {
        display: none;
    }
    .card {
        flex-wrap: nowrap;
        flex: auto;
    }
    .column p {
        font-size: 0.4em;
    }
    .mainBoard {
        width: 90%;
    }
    .mainHeader h1 {
        justify-content: space-around;
        font-size: 1.2em;
    }
    .mainHeader h1 {
        display: auto;
        margin-bottom: 1%;
    }
 }

@media (min-width:771px){
    .buttonContainer {
        width: 100%;
    }
    .addButton {
        min-width: auto;
    }
    .column p {
        font-size: 0.4em;
    }
    .mainHeader a {
        display: none;
    }
    .mainBoard {
        width: 70%;
    }
  }
