.loginBackground {
    background-image: url('../../images/background.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;

    
}

.mainTittleLogin {
    color: wheat;
    justify-content: center;
    
}
.loginSection {
    width: 40%;
    align-self: center;
    border-radius: 2rem;
    height: 80%;
    box-shadow: 10px 15px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.loginBackground .title {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.buttonLogin {
    display: flex;
    justify-content: center;
    
}
.buttonLogin button {
    width: auto;
    height: auto;
}
